<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>đăng nhập</title>
    <!-- bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
    <!-- fontawesome -->
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    <!-- css -->
    <link rel="stylesheet" th:href="@{/css/base.css}" href="../static/css/base.css">
</head>
<body>
<div class="container-fluid">
    <div class="row mt-5">
        <div class="col-4"></div>
        <div class="col-4">
            <form class="p-3" style="background:white;border-radius:10px;" method="POST" th:action="@{/j_spring_security_check}">
                <div class="form-group">
                    <label for="username">Tên Đăng Nhập:</label>
                    <input type="text" class="form-control" id="username" placeholder="tên đăng nhập" name="username">
                </div>
                <div class="form-group">
                    <label for="password">Mật Khẩu:</label>
                    <input type="password" class="form-control" id="password" placeholder="mật khẩu" name="password">
                </div>
                <div th:if="${param.error}">
                    <div class="alert alert-danger my-3">Sai tên đăng nhập hoặc mật khẩu!</div>
                </div>
                <div class="d-flex">
                    <button type="submit" class="btn btn-primary w-100 mr-3">Đăng Nhập</button>
                    <button type="button" class="btn btn-danger w-100" onclick="window.location = 'http://localhost:8082/register';">Đăng Ký</button>
                </div>
            </form>
        </div>
        <div class="col-4"></div>
    </div>
</div>
</body>
</html>


































